[mysqld]
max_connections = 300
table_open_cache = 600
innodb_buffer_pool_size = 512M
# performance-schema = false

# Galera settings
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
binlog_format=ROW
default-storage-engine=InnoDB
innodb_autoinc_lock_mode=2
innodb_doublewrite=1
query_cache_size=0

# Galera synchronisation configuration
wsrep_sst_method=rsync
